/* modal oynalar */
.modal__cabinet {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
  }
  .modal__cabinet.active {
    display: block;
    transition: all 0.6s ease;
  }
  .modal__cabinet--win {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    /* height: 400px; */
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
  }
  .close__modal {
    position: absolute;
    right: 30px;
    top: 20px;
    color: rgba(51, 51, 51, 0.384);
    font-size: 30px;
    cursor: pointer;
  }
  .modal__cabinet--win,
  .cabinet__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal__cabinet--win h4 {
    color: var(--bg-site);
  }
  .modal__cabinet--win p {
    color: var(--text-color);
    font-weight: 400;
    margin-top: 1rem;
  }
  .cabinet__btn {
    min-height: 47px;
    padding: 13px 18px 14px;
    border: 1px solid #828282;
    border-radius: 5px;
    box-shadow: none;
    background: none;
    outline: none;
    width: 90%;
    margin-bottom: 1rem;
  }
  .cabinet__btn--submit {
    background-color: var(--bg-site);
    cursor: pointer;
    border-radius: 5px;
    width: 90%;
    border: none;
    outline: none;
    padding: 10px 18px 10px;
    color: #fff;
    margin-top: 0.9rem;
    border: 1px solid var(--bg-site);
    transition: all 0.4s ease-out;
  }
  .cabinet__btn--submit:hover {
    color: var(--bg-site);
    background: #fff;
  }
  .modal__cabinet--win h6 {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 14px;
    margin-top: 1rem;
  }
  
  