* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
:root {
  --text-color: #546da5;
  --bg-site: #314573;
  --grey: #f2f2f2;
  --white: #fff;
}
.section-full{
  background: url(../img/univer.jpg) no-repeat center center / cover;
  background-attachment: fixed;
  width: 100%;
  height: 105vh;
  font-family: "Lato", sans-serif;
  position: relative;
  padding-top: 20px;
}
.section-full::before{
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
}
.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  z-index: 11;
  top: -4px;
  right: -100%;
  white-space: nowrap;
  animation: rightThenLeft 20s linear infinite;
  color: white;
  width: 130%;
}
.test {
  height: max-content;
  overflow: hidden;
  height: 20px;
  background: red;
}
@keyframes rightThenLeft {
  0% {
    right: -100%;
  }
  100% {
    right: 130%;
  }
}

.header-text-js span {
  color: #ffffff;
  font-size: 15px;
  display: inline-block;
  -webkit-animation: texts 25s infinite linear;
  animation: texts 25s infinite linear;
}

header {
  background: #314573;
  display: flex;
  height: 72px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.header-logo {
  margin-bottom: 25px;
}

.header-logo a {
  margin-right: 15px;
}

.header-logo a {
  text-decoration: none;
}

header nav ul a {
  margin: 0 25px;
  text-decoration: none;
}

header nav ul p {
  margin-bottom: 0;
  font-size: 14px;
  color: #ffffff;
  font-family: sans-serif;
  margin-left: 10px;
}

.language {
  margin-bottom: 15px;
  text-decoration: none;
}

.language p {
  margin-bottom: 0;
  color: #f2f2f2;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 8px;
}

.dropdown-item {
  width: 70%;
}

.dropdown-toggle {
  color: white;
}

.dropdown-toggle:hover {
  color: white;
}

.fa {
  font-size: 26px;
  color: white;
  margin-left: 10px;
  margin-bottom: 12px;
}

/* header responsive */

.open-hide {
  color: white;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  background-color: #314173;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav-in {
  padding: 50px 450px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* ----------------------- */

/* Fleg section */

.info-fleg {
  top: 50px;
  position: relative;
  margin-bottom: 180px;
}

.info-fleg-item {
  background: white;
  border-radius: 5px;
  padding: 30px;
  margin: 0 0 30px;
  width: 1120px;
  height: 1000pxpx;
}

.info-fleg-item h4 {
  color: #314173;
  font-size: 22px;
  font-family: "open sans Condensed", "arial";
  line-height: 1.1;
  margin-bottom: 25px;
}

.info-fleg-item p {
  color: #546da5;
  font-size: 14px;
  font-family: lato;
}

/*  gerb section */
.info-gerb {
  margin-bottom: 200px;
}
/* --------------------- */

/* sound section */
.info-sound {
  margin-bottom: 200px;
}

/* ============= SITE NAVBAR ============== */

.list-menu {
  display: flex;
  position: relative;
  right: 0;
  justify-content: end;
}
.row-ul {
  position: relative;
  display: flex;
  height: 35px;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.section-form {
  display: flex;
  margin-left: 2rem;
  align-items: flex-start;
}
.menus {
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  height: 20px;
}

.menu {
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  height: 20px;
}

.line {
  position: absolute;
  bottom: 7px;
  width: 2px;
  height: 20px;
  background-color: #e0e0e0;
}

.col-item-list {
  position: relative;
  display: flex;
  align-items: center;
}
.col-list {
  position: relative;
  display: flex;
  align-items: center;
}

.col-list::before {
  content: "";
  width: 1px;
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
}

.col-3 {
  margin-left: 15px;
}

.menu-input {
  height: 35px;
  outline-color: #546da5;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding-left: 15px;
  border: none;
  width: 35px;
  outline: none;
  transition: 0.5s all;
  background-color: #f2f2f2;
}
.menu-input.active {
  width: 200px;
}
.menu-btn {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 0;
  z-index: 4;
  background-color: #f2f2f2;
}

.bar-container {
  padding: 0 12px 0 12px;
}
.navbar {
  background: #f2f2f2;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  height: 50px;
  position: relative;
}

.nuu-img {
  position: absolute;
  top: -17px;
  left: 40px;
}

.navbar-ul {
  position: absolute;
  right: 5%;
  height: 50px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 233px; */
  margin-bottom: 0;
}

.navbar-list {
  list-style-type: none;
}

.navbar-link {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #314573;
}

.navbar-link:hover {
  color: #314573;
}

/* ============= SITE NAVBAR ============== / */

