* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
:root {
  --text-color: #546DA5;
  --bg-site: #314573;
  --grey: #F2F2F2;
  --white: #fff;
}
body {
  background: url(../img/univer.jpg) no-repeat center center / cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  font-family: "Lato", sans-serif;
  position: relative;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  z-index: 11;
  top: -4px;
  right: -125%;
  white-space: nowrap;
  animation: rightThenLeft 20s linear infinite;
  color: white;
}
.test {
  height: max-content;
  overflow: hidden;
  height: 20px;
  width: 100%;
  background: red;
  width: 100%;
}
@keyframes rightThenLeft {
  0% {
    right: -125%;
  }
  100% {
    right: 125%;
  }
}

.header-text-js span {
  color: #ffffff;
  font-size: 15px;
  display: inline-block;
  -webkit-animation: texts 25s infinite linear;
  animation: texts 25s infinite linear;
}

header {
  background: #314573;
  display: flex;
  height: 72px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.header-logo {
  margin-bottom: 25px;
}

.header-logo a {
  margin-right: 15px;
}

.header-logo a {
  text-decoration: none;
}

header nav ul a {
  margin: 0 25px;
  text-decoration: none;
}

header nav ul p {
  margin-bottom: 0;
  font-size: 14px;
  color: #ffffff;
  font-family: sans-serif;
  margin-left: 10px;
}

.language {
  margin-bottom: 15px;
  text-decoration: none;
}

.language p {
  margin-bottom: 0;
  color: #f2f2f2;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 8px;
}

.fa {
  font-size: 26px;
  color: white;
  margin-right: 10px;
  margin-bottom: 12px;
}

/* Fleg section */

.info-fleg {
  top: 50px;
  position: relative;
}

.info-fleg-item {
  background: white;
  border-radius: 5px;
  padding: 30px;
  margin: 0 0 30px;
  width: 1120px;
  height: 1000pxpx;
}

.info-fleg-item h4 {
  color: #314173;
  font-size: 22px;
  font-family: "open sans Condensed", "arial";
  line-height: 1.1;
  margin-bottom: 25px;
}

.info-fleg-item p {
  color: #546da5;
  font-size: 14px;
  font-family: lato;
}


/* ============= SITE NAVBAR ============== */

.list-menu {
  display: flex;
  position: relative;
  margin-top: 20px;
  right: 0;
  justify-content: end;
}

.row {
  height: 35px;
  bottom: -1px;
  margin-right: 20px;
}

.row-ul {
  position: relative;
  display: flex;
  height: 35px;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 5px;
}

.menus {
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  height: 20px;
} 

.menu {
text-decoration: none;
margin-left: 15px;
margin-right: 15px;
height: 20px;
}

.line{
  position: absolute;
  bottom: 7px;
  width: 2px;
  height: 20px;
  background-color: #e0e0e0;
}

.col-item-list {
  position: relative;
  display: flex;
  align-items: center;
}
.col-list {
  position: relative;
  display: flex;
  align-items: center;
}

.col-list::before {
  content: "";
  width: 1px;
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0,0.1);
}

.col-3 {
margin-left: 15px;
}

.menu-input {
  height: 35px;
  outline-color: #546da5;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding-left: 15px;
}
.menu-btn {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  background-color: white;
}

.bar-container {
  margin-top: 50px;
  padding:0 12px 0 12px;
}
.navbar {
  background: #f2f2f2;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  height: 50px;
  position: relative;
}

.nuu-img {
  position: absolute;
  top: -17px;
  left: 40px;
}

.navbar-ul {
  position: absolute;
  right: 5%;
  height: 50px;
  width: 989px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 233px; */
  margin-bottom: 0;
}

.navbar-list {
list-style-type: none;
}

.navbar-link {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #314573;
}

.navbar-link:hover {
  color: #314573;
}

/* ============= SITE NAVBAR ============== / */


/* Footer */
.footer{
  background-color: var(--bg-site);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 74px;
}

.footer__head{
  position: relative;
  z-index: 2;
}
.footer__head-btn{
  outline: none;
  border: none;
  color: #fff;
  background: transparent;
  font-weight: 700;
}
.footer__head-social li .fab{
  color: var(--bg-site);
}
.footer__head-li{
  padding-top: 10px;
}
.footer__center{
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 20px 0px;
  display: none;
  transition: 1s all ease-in;
}
.footer__center.active{
  display: block;
  
}

.back-white{
  background-color: #fff;
  width: 100vw;
  height: 188px;
  top: 58px;
  z-index: 1;
  position: absolute;
  display: none;
}
.back-white.active{
  display: block;
  width: 100%;
}
.footer__head-link{
  color: var(--bg-site) !important;
  padding: 0 5px;
  line-height: 20px !important;
  font-size: 14px;
}
.footer__head-link:hover{
  color: #314573;
}